.login-page[data-v-00a57119]{align-items:center;background-color:#f3f4f6;display:flex;justify-content:center;min-height:100vh;padding:2rem 1rem}.login-container[data-v-00a57119]{max-width:28rem;width:100%}
